<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <a href="./addProf">Adicionar</a>
    </p>
    <form method="post">
        <input type="text" name="pesquisar">
        <input type="submit" value="Pesquisar">
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Turma</th>
            <th>Nível</th>
            <th>Foto</th>
            <th>Trabalho</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        <% Professores.forEach((professor)=>{ %>
        <tr>
            <td><%=professor.id%></td>
            <td><%=professor.nome%></td>
            <td><%=professor.turma%></td>
            <td><%=professor.nivel%></td>
            <td>
                <img src="../public/fotosProf/<%=professor.foto%>" width="80px" alt="trabalho do professor">
            </td>
            
            <td>
                <a href="./edtProf/<%=professor.id%>">Editar</a>
            </td>
            <td>
                <a href="/del/<%=professor.id%>">Deletar</a>
            </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>